body {
	margin: 0;
	padding: 0;
	/*background-color: #ff5c40;*/ 
}
.icon {
	/*position absolute deke top right ke hisaab se position set kar sakte hai*/
	position: absolute; 
	border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
	/*The transform CSS property lets you rotate, scale, skew,
	 or translate(turn into) a given element. This is achieved by modifying
	  the coordinate space of the CSS visual formatting model*/
	/*transform: translate(1px, 1px);*/
	width: 35px;
	height: 35px;
	cursor: pointer; /*//finger animation aata hai*/
	background-color: rgba(255,131,98,1);
}
.hamburger {
	border-radius: 10% / 50%;
	width: 20px;
	height: 4px;
	background-color: #0C0D0D;
	position: absolute;
	top: 40%;
	left: 20%;	 /*
	transform: translate(1px, 1px);*/
	box-shadow:0 2px 5px rgba(0,0,0,0.2);
	transition: 0.5s;
}
.hamburger::before,
.hamburger::after {
	content:'';
	position: absolute;
	border-radius: 10% / 50%;
	width: 20px;
	height: 4px;
	background-color: #0C0D0D;
	box-shadow:0 2px 5px rgba(0,0,0,0.2);
	transition: 0.5s;
}
.hamburger::before {
	top:-6px;
}
.hamburger::after {
	top:6px;
}

.icon.newHamburger .hamburger {
	background: rgba(0,0,0,0); 
	box-shadow:0 2px 5px rgba(0,0,0,0);
}
.icon.newHamburger .hamburger::before {
	top:0;
	transform: rotate(45deg);
}
.icon.newHamburger .hamburger::after {
	top:0;
	transform: rotate(135deg);
}
